{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <div class="card">
        <div class="card-body py-5 px-md-5">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            <h1>{% trans "Sign In" %}</h1>
            <hr>
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-outline-dark py-2 px-4">
              {% trans "Login" %}
            </button>
            <br><br>
            <p>{% blocktrans %}Not a member? <a href="{{ signup_url }}">Register.</a>{% endblocktrans %}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
