{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Masterpiece is a vibrant online platform where artists come together to showcase their creations, engage in discussions, and celebrate the world of art. Join our artistic community today!" />
    <meta name="keywords" content="art, artists, paintings, online gallery, creative community, art discussion" />
    <meta name="author" content="Joonas Timlin">
    <title>{% block title %}Masterpiece - Uniting Artists, Celebrating Art!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top navbar-opacity">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <span class="logo">
              <h3>Masterpiece</h3>
              <p>Uniting Artists, Celebrating Art.</p>
            </span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Gallery</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Account</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">My Paintings</a></li>
                    <li><a class="dropdown-item" href="{% url 'add_painting' %}">Upload Painting</a></li>
                    <li><a class="dropdown-item" href="{% url 'my_likes' %}">My Favorites</a></li>
                  </ul>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}">Logout - <span class="navbar-username">{{ user.username  }}</span></a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_login' %}?next={{ request.path }}">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_signup' %}">Join Us!</a>
              </li>
              {% endif %}
            </ul>
            <span class="navbar-text nav-link">
              <a href="http://facebook.com" target="_blank" class="me-2"><i class="fab fa-facebook"></i></a>
              <a href="http://twitter.com" target="_blank" class="me-2"><i class="fab fa-twitter"></i></a>
              <a href="http://instagram.com" target="_blank" class="me-2"><i class="fab fa-instagram"></i></a>
            </span>
          </div>
        </div>
    </nav>

    <!-- Alert Messages -->
    <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                  {{ message | safe }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
          </div>
      </div>
    </div>

    <!-- Main Content -->
    <main>
      {% block content %}
      <!-- Content Goes here -->
      {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer sticky-bottom">
        &copy; 2023 Masterpiece By: J. Timlin
    </footer>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <!-- Font Awesome (for social icons) -->
    <script src="https://kit.fontawesome.com/7f781ed379.js" crossorigin="anonymous"></script>
    <!-- Alert messages self disappear function -->
    <script>
      setTimeout(function () {
          let messages = document.getElementById("msg");
          let alert = new bootstrap.Alert(messages);
          alert.close();
      }, 3000);
    </script>
 </body>
</html>
