{% extends "base.html" %}
{% block title %}Masterpiece - Home{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Index Paintings - Background image styles don't work when placed in a separate .css file due to the presence of Django template tags in the styles. -->
        {% for painting in painting_list %}
        <div class="col container-swiper painting1" style="background-image: url('{{ painting.image.url }}'); background-size: cover; background-position: center;">
            <div class="painting-info">
                <h2 class="mb-3 painting-title">{{ painting.title }}</h2>
                <a href="{% if painting.slug %}{% url 'painting_detail' painting.slug %}{% endif %}" class="btn btn-outline-light py-2 px-4">Details</a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% empty %}
        <div class="col-12 text-center">
            <h3>There is no uploaded paintings yet.</h3>
        </div>    
        {% endfor %}
    </div>   
</div>

{% endblock %}