{% extends "base.html" %}
{% block title %}Masterpiece - Paintings I Like{% endblock %}
{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Paintings I Like</h1>
        </div>
    </div>
    <hr>
    <br>
    <!-- Masterpiece Card -->
    <div class="row justify-content-center">
        {% for painting in painting_list %}
        <div class="col-sm-6 col-md-4 col-lg-3 px-1 d-flex align-items-stretch">
            <div class="card mb-3 mx-auto mx-sm-2">  <!-- My Favorite Paintings - Image styles don't work when placed in a separate .css file due to the presence of Django template tags in the styles. -->
                <img src=" {{ painting.image.url }}" alt="Painting: {{ painting.title }}" class="card-img-top" style="height: 300px; object-fit: cover;">
                <div class="card-body text-center">
                    <h2 class="painting-title">{{ painting.title }}</h2>
                    <p>
                        <span><i class="fa-solid fa-paintbrush"></i></span>
                        <span>{{ painting.author }}</span>
                        <span class="btn-like"><i class="far fa-heart"></i> {{ painting.number_of_likes }}</span>
                    </p>
                    <a href="{% url 'painting_detail' painting.slug %}" class="stretched-link"
                        aria-label="painting-detail"></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <h3>You haven't liked any paintings yet.</h3>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12 text-center">
            {% if is_paginated %}

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="justify-content-center mt-4">
                            <span>
                                {% if page_obj.has_previous %}
                                <a class="btn btn-outline-dark btn-sm mb4 ml-1" href="?page=1">First</a>
                                <a class="btn btn-outline-dark btn-sm mb4 ml-1"
                                    href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span>
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </span>
                                {% if page_obj.has_next %}
                                <a class="btn btn-outline-dark btn-sm mb4 ml-1"
                                    href="?page={{ page_obj.next_page_number }}">Next</a>
                                <a class="btn btn-outline-dark btn-sm mb4 ml-1"
                                    href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
            {% endif %}
        </div>
    </div>
</div>

{% endif %}



{% endblock %}