{% extends 'base.html' %}
{% block title %}Masterpiece - {{ painting.title }}{% endblock %}
{% block content %}

{% load crispy_forms_tags %}
<div class="container text-center">

    <!-- Large Painting -->
    {% if "placeholder" in painting.image.url %}
    <img src="#"
        class="img-fluid rounded painting-detail-img" alt="placeholder image">
    {% else %}
    <img src="{{ painting.image.url }}" alt="Painting image" class="img-fluid rounded painting-detail-img">
    {% endif %}

    <!-- Painting Details and Like Button -->
        <div>
            <h2 class="mt-3 painting-title">{{ painting.title }}</h2>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'like_painting' painting.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button class="btn-like" type="submit" name="like_id"
                    value="{{painting.slug}}" aria-label="heart-outline">
                    <i class="fas fa-heart"></i>
                </button>
                {% else %}
                <button class="btn-like" type="submit" name="like_id"
                    value="{{painting.slug}}" aria-label="heart-solid">
                    <i class="far fa-heart"></i>
                </button>
                {% endif %}
            </form>
            {% else %}
            <span class="text-secondary"><i class="far fa-heart"></i></span>
            {% endif %}
            <span class="text-secondary"> {{ painting.number_of_likes }}</span>
            <p>Artist: {{ painting.author }}</p>
        <!-- Tahan tulee update painting jutut-->
        </div>


    <!-- Comments Section -->
    {% if comments %}
    <div class="row justify-content-center">
        <div class="card mt-3 painting-detail-img">
            <div class="card-header">
            <h5>Comments</h5>
            </div>
            <div class="card-body">
            {% for comment in comments %}
            <div>
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span>
                    {% if user.is_authenticated and user.username == comment.name %}
                    <span class="comment-action-btn pl-2">
                        <a href="{% url 'update_comment' comment.id %}" aria-label="update-comment">
                            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                        </a>
                        <a href="{% url 'delete_comment' comment.id %}" aria-label="delete-comment">
                            <i class="fa-sharp fa-solid fa-trash"></i>
                        </a>
                    </span>
                    {% endif %}
                </p>
                {{ comment.body | linebreaks }}
                <hr>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endif %} 
        
        <!-- Create comment -->
        {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="card border-success mt-3 painting-detail-img">
                <div class="card-body">
                <h5 class="card-header">Leave a comment as: {{ user.username  }}</h5>
                        <form class="card-text mt-3" method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}